.table-responsive {
  overflow-x: auto;
}


.table {
  width: 100%;
  margin-bottom: 1rem;
  color: #212529;
  border-collapse: collapse;
}


.table th,
.table td {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
}


.table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #dee2e6;
}


.table tbody + tbody {
  border-top: 2px solid #dee2e6;
}


.table-hover tbody tr:hover {
  background-color: rgba(0, 0, 0, 0.075);
  transition: background-color 0.2s ease-in-out;
}


.badge {
  display: inline-block;
  padding: 0.35em 0.65em;
  font-size: 0.75em;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
}


.bg-success-subtle {
  background-color: #d4edda !important;
  color: #155724 !important;
}


.bg-warning-subtle {
  background-color: #fff3cd !important;
  color: #85640a !important;
}


.bg-secondary-subtle {
  background-color: #e2e3e5 !important;
  color: #383d41 !important;
}


.bg-danger-subtle {
  background-color: #f8d7da !important;
  color: #721c24 !important;
}


.animate__animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}


.animate__fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}


@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
