<nav class="navbar navbar-expand-lg navbar-dark bg-dark" *ngIf="authService.isLoggedIn()">
  <div class="container">
    <a class="navbar-brand" routerLink="/projects">GestiónPlus</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <button class="btn btn-outline-light" (click)="authService.logout()">Cerrar Sesión</button>
        </li>
      </ul>
    </div>
  </div>
</nav>

<main class="container mt-4">
  <router-outlet></router-outlet>
</main>